<%- include("../partials/top") %>
<div class="text-center">
    <h1>Page not found</h1>
    <img src="img/404.png" alt="Page not found" class="img-fluid">
    <p><a class="btn btn-primary" href="/posts">Go back</a></p>
</div>
<%- include("../partials/bot") %>